extends base 

block content 
    form(method="POST")
        input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name)
        input(type="email", placeholder="Email", name="email", required, value=loggedInUser.email)
        input(type="text", name="username", required, value=loggedInUser.username)
        input(type="text", name="location", placeholder="Location", required, value=loggedInUser.location)
        input(type="submit", value="Update profile")