extends base



block content 
    form(method="POST")
        input(placeholder="name" type="text", name="name", required)
        input(placeholder="email" type="email", name="email", required)
        input(placeholder="username" type="text", name="username", required)
        input(placeholder="password" type="password", name="password", required)
        input(placeholder="location" type="text", name="location", required)
        input(type="submit", value="Join")
